# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
*.venv
.env

# Poetry
poetry.lock

# PyCharm
.idea/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Misc
*.log
*.swp
.DS_Store